<!--
 * @Author: zebin.ge@appshahe.com
 * @Date: 2022-07-08 13:23:08
 * @LastEditors: zebin.ge@appshahe.com
 * @LastEditTime: 2022-08-17 15:35:28
 * @FilePath: \excelexporttots\src\app\updateDialog\updateDialog.component.html
 * @Description: 
-->
<h1 mat-dialog-title>{{name}}</h1>
<mat-dialog-content>
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-dialog-content>
<!-- <div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button cdkFocusInitial (click)="okClick()">Ok</button>
</div> -->